<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <h2 i18n class="text-center">Saved games</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="row text-center">
        <div class="col z-0">
          <button
            i18n
            mat-stroked-button
            color="accent"
            type="button"
            (click)="onLoadList()"
          >
            Fetch
          </button>

          <span i18n matListItemLine>Fetch list of games</span>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="form-group text-center" *ngIf="isLoading">
          <mat-spinner></mat-spinner>
        </div>
        <div class="form-group alert alert-danger text-center" *ngIf="error">
          <h2>{{ error }}</h2>
          <button
            mat-stroked-button
            color="warn"
            type="button"
            (click)="onClearError()"
          >
            Ok '(
          </button>
        </div>
        <div class="col" *ngIf="!isLoading">
          <mat-nav-list *ngFor="let game of gamesList">
            <button mat-list-item (click)="onLoadGame(game.gameKey)">
              <span i18n matListItemLine
                >Last change of {{ game.lastChange | date }}</span
              >{{ game.gameName }}
            </button>

            <hr />
          </mat-nav-list>
        </div>
      </div>
    </div>
  </div>
</div>
